pipelines/step_functions/process_L3.asl.json
{
  "StartAt": "Process TIF",
  "States": {
    "Process TIF": {
      "Type": "Parallel",
      "Branches": [
        {
          "StartAt": "Add Overlays and Tiling",
          "States": {
            "Add Overlays and Tiling": {
              "Type": "Task",
              "Resource": "arn:aws:states:::ecs:runTask.sync",
              "ResultPath": "$.previous_step__result",
              "Parameters": {
                "LaunchType": "FARGATE",
                "Cluster": "${aws_ecs_cluster_arn}",
                "TaskDefinition": "${aws_ecs_task_definition_gdal_arn}",
                "NetworkConfiguration": {
                  "AwsvpcConfiguration": {
                    "AssignPublicIp": "ENABLED",
                    "SecurityGroups": [
                      "${aws_ecs_task_definition_caris_sg}"
                    ],
                    "Subnets": [
                      "${aws_ecs_task_definition_caris_subnet}"
                    ]
                  }
                },
                "Overrides": {
                  "ContainerOverrides": [
                    {
                      "Name": "app",
                      "Command": [
                        "./overlays.sh"
                      ],
                      "Environment": [
                        {
                          "Name": "S3_SRC_TIF",
                          "Value.$": "$.s3_src_tif"
                        },
                        {
                          "Name": "S3_DEST_TIF",
                          "Value.$": "$.s3_dest_tif"
                        }
                      ]
                    }
                  ]
                }
              },
              "Retry": [
                {
                  "ErrorEquals": [
                    "ECS.AmazonECSException"
                  ],
                  "IntervalSeconds": 3,
                  "MaxAttempts": 5
                }
              ],
              "Next": "Overlay Task Arn",
              "TimeoutSeconds": 60000
            },
            "Overlay Task Arn": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "ResultPath": "$.data.lambdaresult",
              "OutputPath": "$.data.lambdaresult.Payload.body",
              "Parameters": {
                "FunctionName": "arn:aws:lambda:${region}:${account_id}:function:${prefix}_identify_unprocessed_grids:$LATEST",
                "Payload": {
                  "action": "parse-arn",
                  "task-arn.$": "$.previous_step__result.TaskArn",
                  "parse-string": "${ecs_task_prefix}"
                }
              },
              "End": true
            }
          }
        },
        {
          "StartAt": "Raster To Polygon",
          "States": {
            "Raster To Polygon": {
              "Type": "Task",
              "Resource": "arn:aws:states:::ecs:runTask.sync",
              "ResultPath": "$.previous_step__result",
              "Parameters": {
                "LaunchType": "FARGATE",
                "Cluster": "${aws_ecs_cluster_arn}",
                "TaskDefinition": "${aws_ecs_task_definition_gdal_arn}",
                "NetworkConfiguration": {
                  "AwsvpcConfiguration": {
                    "AssignPublicIp": "ENABLED",
                    "SecurityGroups": [
                      "${aws_ecs_task_definition_caris_sg}"
                    ],
                    "Subnets": [
                      "${aws_ecs_task_definition_caris_subnet}"
                    ]
                  }
                },
                "Overrides": {
                  "ContainerOverrides": [
                    {
                      "Name": "app",
                      "Environment": [
                        {
                          "Name": "S3_SRC_TIF",
                          "Value.$": "$.s3_src_tif"
                        },
                        {
                          "Name": "S3_DEST_SHP",
                          "Value.$": "$.s3_dest_shp"
                        },
                        {
                          "Name": "SCALING_FACTOR",
                          "Value.$": "$.s3_scaling_factor"
                        }
                      ]
                    }
                  ]
                }
              },
              "Next": "Raster To Polygon Task Arn",
              "TimeoutSeconds": 60000
            },
            "Raster To Polygon Task Arn": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "ResultPath": "$.data.lambdaresult",
              "OutputPath": "$.data.lambdaresult.Payload.body",
              "Parameters": {
                "FunctionName": "arn:aws:lambda:${region}:${account_id}:function:${prefix}_identify_unprocessed_grids:$LATEST",
                "Payload": {
                  "action": "parse-arn",
                  "task-arn.$": "$.previous_step__result.TaskArn",
                  "parse-string": "${ecs_task_prefix}"
                }
              },
              "End": true
            }
          }
        },
        {
          "StartAt": "Add Hillshade",
          "States": {
            "Add Hillshade": {
              "Type": "Task",
              "Resource": "arn:aws:states:::ecs:runTask.sync",
              "ResultPath": "$.previous_step__result",
              "Parameters": {
                "LaunchType": "FARGATE",
                "Cluster": "${aws_ecs_cluster_arn}",
                "TaskDefinition": "${aws_ecs_task_definition_gdal_arn}",
                "NetworkConfiguration": {
                  "AwsvpcConfiguration": {
                    "AssignPublicIp": "ENABLED",
                    "SecurityGroups": [
                      "${aws_ecs_task_definition_caris_sg}"
                    ],
                    "Subnets": [
                      "${aws_ecs_task_definition_caris_subnet}"
                    ]
                  }
                },
                "Overrides": {
                  "ContainerOverrides": [
                    {
                      "Name": "app",
                      "Command": [
                        "./create_hillshade.sh"
                      ],
                      "Environment": [
                        {
                          "Name": "S3_SRC_TIF",
                          "Value.$": "$.s3_src_tif"
                        },
                        {
                          "Name": "S3_DEST_TIF",
                          "Value.$": "$.s3_hillshade_dest_tif"
                        },
                        {
                          "Name": "SCALING_FACTOR",
                          "Value.$": "$.s3_scaling_factor"
                        }
                      ]
                    }
                  ]
                }
              },
              "Next": "Hillshade Task Arn",
              "TimeoutSeconds": 60000
            },
            "Hillshade Task Arn": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "ResultPath": "$.data.lambdaresult",
              "OutputPath": "$.data.lambdaresult.Payload.body",
              "Parameters": {
                "FunctionName": "arn:aws:lambda:${region}:${account_id}:function:${prefix}_identify_unprocessed_grids:$LATEST",
                "Payload": {
                  "action": "parse-arn",
                  "task-arn.$": "$.previous_step__result.TaskArn",
                  "parse-string": "${ecs_task_prefix}"
                }
              },
              "End": true
            }
          }
        }
      ],
      "End": true
    }
  }
}